/* Colors: #A8645E; #BC6457, #DE643E, #DF7840, #EE8328*/

* {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 38px !important;
	font-weight: bold !important;
	color: #707070 !important;
}

h3 {
	font-size: 20px !important;
	font-weight: bold !important;
	color: white !important;
}

h5 {
	font-size: 15px !important;
	color: #707070 !important;
}

p, label, input, button, optgroup, select, textarea {
	font-size: 15px !important;
}

.btn-primary {
	/*background-color: #A8645E !important; */
	border: none !important;
	background: linear-gradient(128deg, rgba(168,100,94,1) 0%, rgba(188,100,87,1) 25%, rgba(222,100,62,1) 50%, rgba(223,120,64,1) 75%, rgba(238,131,40,1) 100%) !important;
}

#body {
	width: 100%;
	height: 100%;
	display: grid;
}


/* SIDENAV */
.sidenav {
	height: 100%;
	width: 5%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #707070;
	transition: 0.5s;
	padding-top: 60px;
	text-align: center;
	display: inline-block;
	padding-top: 30%;
}

.sidenav .selected {
	color: #555;
	cursor: default;
}


/* ICONS */
.fas {
	color: white;
	font-size: 20px;
	padding: 20px 10px;
}

.fa-home {

}

/* CSS de Login e Register (várias páginas)*/
#login {
	padding: 10px;
	height: 100%;
	width: 95%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 5%;
	padding-top: 10px; 
	margin-top: 10%;
}

#login form {
	display: grid;
	justify-content: center;
	font-size: 15px !important;
	margin-top: 40px;
}

#login h1, h5, label {
	text-align: center;
}

#login .form-group, #login .form-check, #login button {
	margin: 10px;
	width: 400px;
	font-size: 15px !important;
}

#flex-form{
	display: flex !important;
	justify-content: center;
}

#flex-form button{
	width: 200px !important;
	height: 100px !important;
}

#left-main{
	background-color: #FDECDF !important;
	height: 100%;
	width: 45%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 5%;
	padding-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;1

}

#right-main{
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 50%;
	padding-top: 10px;
}



/* SIDENAV + MAIN */
.main {
	height: 100%;
	width: 65%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 5%;
	padding-top: 10px;
}

.main h1 {
	padding: 30px;
	margin: 0;
}

.shoppingCart {
	padding-top: 20px; 
	height: 100%;
	width: 25%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 75%;
	background-color: #707070;
	align-items: center;
	text-align: center;
}

.shoppingCart h3 {

}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/